@font-face {
    font-family: 'League Spartan';
    src: url('../font/LeagueSpartan-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'League Spartan';
    src: url('../font/LeagueSpartan-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'League Spartan';
    src: url('../font/LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: 700;
}

:root {
    --White:hsl(0, 0%, 100%);
    --Light-Grayish-Magenta:hsl(300, 24%, 96%);
    --Soft-Pink:hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta:hsl(303, 10%, 53%);
    --Very-Dark-Magenta:hsl(300, 43%, 22%);

    --League-Spartan: 'League Spartan';

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

body {
    background-color: var(--White);
    font-family: var(--League-Spartan);
}

#flex-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.25em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    color: var(--Very-Dark-Magenta);
    font-family: var(--League-Spartan);
    font-weight: var(--fw-bold);
    font-size: 40px;
    margin-top: 2rem;
    line-height: 1;
}

#desc {
    width: 375px;
    font-size: 16px;
    font-family: var(--League-Spartan);
    font-weight: var(--fw-medium);
    margin-top: 1em;
    color: var(--Dark-Grayish-Magenta);
}

.star-rating-content {
    display: flex;
    background-color: var(--Light-Grayish-Magenta);
    height: 34px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.icon-container {
    display: inline-flex;
    gap: 0.25rem;
    margin-left: 0.5rem;
}

.star-rating-p {
    margin-left: 0.5rem;
    font-size: 12.5px;
    font-weight: var(--fw-bold);
    font-family: var(--League-Spartan);
    color: var(--Very-Dark-Magenta);
}

#testimonial-grid {
    display: grid;
    grid-template-areas:
    'one'
    'two'
    'three';
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.testimonial-container {
    background-color: #511F50;
    padding: 1rem;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}

.testimonial-container:nth-child(1) {
    grid-area: one;
}

.testimonial-container:nth-child(2) {
    grid-area: two;
}

.testimonial-container:nth-child(3) {
    grid-area: three;
}

.profil-flex {
    display: flex;
    gap: 1.5rem;
}

.person-img {
    border-radius: 10rem;
    width: 20%;
}

.name {
    font-weight: var(--fw-bold);
    color: var(--White);
}

.buyer {
    color: var(--Soft-Pink);
}

.quote {
    color: var(--White);
    font-size: 14px;
    margin-top: 1.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 350px) {
    #flex-top {
        flex-direction: column;
        text-align: center;
    }

    #desc {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .star-rating-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5em;
        width: 300px;
    }

    .star-rating-p {
        margin-top: 0.25rem;
    }

    #testimonial-grid {
        grid-template-areas:
        'one'
        'two'
        'three';
    }
}

@media screen and (min-width: 1024px) {
    #flex-top {
        flex-direction: row;
        text-align: left;
    }

    .star-rating-content {
        flex-direction: row;
        padding: 1em;
        font-size: 10px;
        width: 300px;
    }

    #testimonial-grid {
        grid-template-areas:
        'one two three';
    }

    .content-2 {
        margin-top: 2rem;
    }

    .content-3 {
        margin-top: 4rem;
    }

    .rating-1 {
        margin-top: 1.5rem;
        margin-left: 8rem;
    }

    .rating-2 {
        margin-left: 10rem;
    }

    .rating-3 {
        margin-left: 12rem;
    }
}